{erl_opts, [no_debug_info]}.
{deps, []}.
{plugins, [rebar3_proper]}.

{escript_incl_apps,
 [esub]}.
{escript_main_app, esub}.
{escript_name, esub}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{deps, [{proper, "1.2.0"}]},
	      {erl_opts, [debug_info]}
            ]}]}.
